*.class
target/
copy/

# Package Files #
*.jar
*.war
*.ear

# Eclipse related files
.classpath
.project
.settings/

*.ini

.metadata/.plugins/org.eclipse.rse.core/.log

*.log

*.dat

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.spiddapa-m-p0e6_32682/H.local_16/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.spiddapa-m-p0e6_32682/FP.local.files_0/node.properties

.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.spiddapa-m-p0e6_32682/node.properties

.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.root/3.tree

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
